.ipynb_checkpoints

# Images, which are only for my archive
img/Website_part1.png
img/Website_part2.png

# Keep the key personal, since it is linked to an account with my credit card
google_api_key.txt

# Additional Resources
other



