.ipynb_checkpoints

example_on_21_points.png

First_Experiments.ipynb

Website_part1.png
Website_part2.png

# Keep the key personal, since it is linked to an account with my credit card
google_api_key.txt

